<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZWebsiteApplicationBundle.dao.PsTzAppInsTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppInsT" >
    <id column="TZ_APP_INS_ID" property="tzAppInsId" jdbcType="BIGINT" />
    <result column="TZ_APP_FORM_STA" property="tzAppFormSta" jdbcType="VARCHAR" />
    <result column="TZ_APP_SUB_DTTM" property="tzAppSubDttm" jdbcType="TIMESTAMP" />
    <result column="TZ_APP_TPL_ID" property="tzAppTplId" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
    <result column="SYNCID" property="syncid" jdbcType="INTEGER" />
    <result column="SYNCDTTM" property="syncdttm" jdbcType="TIMESTAMP" />
    <result column="TZ_APP_INS_VERSION" property="tzAppInsVersion" jdbcType="VARCHAR" />
    <result column="TZ_PWD" property="tzPwd" jdbcType="VARCHAR" />
    <result column="TZ_APP_PRE_STA" property="tzAppPreSta" jdbcType="VARCHAR" />
    <result column="TZ_APP_SUB_MED" property="tzAppSubMed" jdbcType="VARCHAR" />
    <result column="TZ_APP_CRE_MED" property="tzAppCreMed" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppInsT" extends="BaseResultMap" >
    <result column="TZ_APPINS_JSON_STR" property="tzAppinsJsonStr" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_APP_INS_ID, TZ_APP_FORM_STA, TZ_APP_SUB_DTTM, TZ_APP_TPL_ID, ROW_ADDED_DTTM, ROW_ADDED_OPRID, 
    ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, SYNCID, SYNCDTTM, TZ_APP_INS_VERSION, TZ_PWD, 
    TZ_APP_PRE_STA, TZ_APP_SUB_MED, TZ_APP_CRE_MED
  </sql>
  <sql id="Blob_Column_List" >
    TZ_APPINS_JSON_STR
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PS_TZ_APP_INS_T
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from PS_TZ_APP_INS_T
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppInsT" >
    insert into PS_TZ_APP_INS_T (TZ_APP_INS_ID, TZ_APP_FORM_STA, TZ_APP_SUB_DTTM, 
      TZ_APP_TPL_ID, ROW_ADDED_DTTM, ROW_ADDED_OPRID, 
      ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, SYNCID, 
      SYNCDTTM, TZ_APP_INS_VERSION, TZ_PWD, 
      TZ_APP_PRE_STA, TZ_APP_SUB_MED, TZ_APP_CRE_MED, 
      TZ_APPINS_JSON_STR)
    values (#{tzAppInsId,jdbcType=BIGINT}, #{tzAppFormSta,jdbcType=VARCHAR}, #{tzAppSubDttm,jdbcType=TIMESTAMP}, 
      #{tzAppTplId,jdbcType=VARCHAR}, #{rowAddedDttm,jdbcType=TIMESTAMP}, #{rowAddedOprid,jdbcType=VARCHAR}, 
      #{rowLastmantDttm,jdbcType=TIMESTAMP}, #{rowLastmantOprid,jdbcType=VARCHAR}, #{syncid,jdbcType=INTEGER}, 
      #{syncdttm,jdbcType=TIMESTAMP}, #{tzAppInsVersion,jdbcType=VARCHAR}, #{tzPwd,jdbcType=VARCHAR}, 
      #{tzAppPreSta,jdbcType=VARCHAR}, #{tzAppSubMed,jdbcType=VARCHAR}, #{tzAppCreMed,jdbcType=VARCHAR}, 
      #{tzAppinsJsonStr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppInsT" >
    insert into PS_TZ_APP_INS_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzAppInsId != null" >
        TZ_APP_INS_ID,
      </if>
      <if test="tzAppFormSta != null" >
        TZ_APP_FORM_STA,
      </if>
      <if test="tzAppSubDttm != null" >
        TZ_APP_SUB_DTTM,
      </if>
      <if test="tzAppTplId != null" >
        TZ_APP_TPL_ID,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
      <if test="syncid != null" >
        SYNCID,
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM,
      </if>
      <if test="tzAppInsVersion != null" >
        TZ_APP_INS_VERSION,
      </if>
      <if test="tzPwd != null" >
        TZ_PWD,
      </if>
      <if test="tzAppPreSta != null" >
        TZ_APP_PRE_STA,
      </if>
      <if test="tzAppSubMed != null" >
        TZ_APP_SUB_MED,
      </if>
      <if test="tzAppCreMed != null" >
        TZ_APP_CRE_MED,
      </if>
      <if test="tzAppinsJsonStr != null" >
        TZ_APPINS_JSON_STR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzAppInsId != null" >
        #{tzAppInsId,jdbcType=BIGINT},
      </if>
      <if test="tzAppFormSta != null" >
        #{tzAppFormSta,jdbcType=VARCHAR},
      </if>
      <if test="tzAppSubDttm != null" >
        #{tzAppSubDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzAppTplId != null" >
        #{tzAppTplId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        #{syncdttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzAppInsVersion != null" >
        #{tzAppInsVersion,jdbcType=VARCHAR},
      </if>
      <if test="tzPwd != null" >
        #{tzPwd,jdbcType=VARCHAR},
      </if>
      <if test="tzAppPreSta != null" >
        #{tzAppPreSta,jdbcType=VARCHAR},
      </if>
      <if test="tzAppSubMed != null" >
        #{tzAppSubMed,jdbcType=VARCHAR},
      </if>
      <if test="tzAppCreMed != null" >
        #{tzAppCreMed,jdbcType=VARCHAR},
      </if>
      <if test="tzAppinsJsonStr != null" >
        #{tzAppinsJsonStr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppInsT" >
    update PS_TZ_APP_INS_T
    <set >
      <if test="tzAppFormSta != null" >
        TZ_APP_FORM_STA = #{tzAppFormSta,jdbcType=VARCHAR},
      </if>
      <if test="tzAppSubDttm != null" >
        TZ_APP_SUB_DTTM = #{tzAppSubDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzAppTplId != null" >
        TZ_APP_TPL_ID = #{tzAppTplId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        SYNCID = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzAppInsVersion != null" >
        TZ_APP_INS_VERSION = #{tzAppInsVersion,jdbcType=VARCHAR},
      </if>
      <if test="tzPwd != null" >
        TZ_PWD = #{tzPwd,jdbcType=VARCHAR},
      </if>
      <if test="tzAppPreSta != null" >
        TZ_APP_PRE_STA = #{tzAppPreSta,jdbcType=VARCHAR},
      </if>
      <if test="tzAppSubMed != null" >
        TZ_APP_SUB_MED = #{tzAppSubMed,jdbcType=VARCHAR},
      </if>
      <if test="tzAppCreMed != null" >
        TZ_APP_CRE_MED = #{tzAppCreMed,jdbcType=VARCHAR},
      </if>
      <if test="tzAppinsJsonStr != null" >
        TZ_APPINS_JSON_STR = #{tzAppinsJsonStr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppInsT" >
    update PS_TZ_APP_INS_T
    set TZ_APP_FORM_STA = #{tzAppFormSta,jdbcType=VARCHAR},
      TZ_APP_SUB_DTTM = #{tzAppSubDttm,jdbcType=TIMESTAMP},
      TZ_APP_TPL_ID = #{tzAppTplId,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      TZ_APP_INS_VERSION = #{tzAppInsVersion,jdbcType=VARCHAR},
      TZ_PWD = #{tzPwd,jdbcType=VARCHAR},
      TZ_APP_PRE_STA = #{tzAppPreSta,jdbcType=VARCHAR},
      TZ_APP_SUB_MED = #{tzAppSubMed,jdbcType=VARCHAR},
      TZ_APP_CRE_MED = #{tzAppCreMed,jdbcType=VARCHAR},
      TZ_APPINS_JSON_STR = #{tzAppinsJsonStr,jdbcType=LONGVARCHAR}
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppInsT" >
    update PS_TZ_APP_INS_T
    set TZ_APP_FORM_STA = #{tzAppFormSta,jdbcType=VARCHAR},
      TZ_APP_SUB_DTTM = #{tzAppSubDttm,jdbcType=TIMESTAMP},
      TZ_APP_TPL_ID = #{tzAppTplId,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      TZ_APP_INS_VERSION = #{tzAppInsVersion,jdbcType=VARCHAR},
      TZ_PWD = #{tzPwd,jdbcType=VARCHAR},
      TZ_APP_PRE_STA = #{tzAppPreSta,jdbcType=VARCHAR},
      TZ_APP_SUB_MED = #{tzAppSubMed,jdbcType=VARCHAR},
      TZ_APP_CRE_MED = #{tzAppCreMed,jdbcType=VARCHAR}
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
  </update>
</mapper>