<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZWebsiteApplicationBundle.dao.PsTzAppDhccTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppDhccT" >
    <id column="TZ_APP_INS_ID" property="tzAppInsId" jdbcType="BIGINT" />
    <id column="TZ_XXX_BH" property="tzXxxBh" jdbcType="VARCHAR" />
    <id column="TZ_XXXKXZ_MC" property="tzXxxkxzMc" jdbcType="VARCHAR" />
    <result column="TZ_APP_S_TEXT" property="tzAppSText" jdbcType="VARCHAR" />
    <result column="TZ_KXX_QTZ" property="tzKxxQtz" jdbcType="VARCHAR" />
    <result column="TZ_IS_CHECKED" property="tzIsChecked" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_APP_INS_ID, TZ_XXX_BH, TZ_XXXKXZ_MC, TZ_APP_S_TEXT, TZ_KXX_QTZ, TZ_IS_CHECKED
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppDhccTKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_APP_DHCC_T
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
      and TZ_XXXKXZ_MC = #{tzXxxkxzMc,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppDhccTKey" >
    delete from PS_TZ_APP_DHCC_T
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
      and TZ_XXXKXZ_MC = #{tzXxxkxzMc,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppDhccT" >
    insert into PS_TZ_APP_DHCC_T (TZ_APP_INS_ID, TZ_XXX_BH, TZ_XXXKXZ_MC, 
      TZ_APP_S_TEXT, TZ_KXX_QTZ, TZ_IS_CHECKED
      )
    values (#{tzAppInsId,jdbcType=BIGINT}, #{tzXxxBh,jdbcType=VARCHAR}, #{tzXxxkxzMc,jdbcType=VARCHAR}, 
      #{tzAppSText,jdbcType=VARCHAR}, #{tzKxxQtz,jdbcType=VARCHAR}, #{tzIsChecked,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppDhccT" >
    insert into PS_TZ_APP_DHCC_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzAppInsId != null" >
        TZ_APP_INS_ID,
      </if>
      <if test="tzXxxBh != null" >
        TZ_XXX_BH,
      </if>
      <if test="tzXxxkxzMc != null" >
        TZ_XXXKXZ_MC,
      </if>
      <if test="tzAppSText != null" >
        TZ_APP_S_TEXT,
      </if>
      <if test="tzKxxQtz != null" >
        TZ_KXX_QTZ,
      </if>
      <if test="tzIsChecked != null" >
        TZ_IS_CHECKED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzAppInsId != null" >
        #{tzAppInsId,jdbcType=BIGINT},
      </if>
      <if test="tzXxxBh != null" >
        #{tzXxxBh,jdbcType=VARCHAR},
      </if>
      <if test="tzXxxkxzMc != null" >
        #{tzXxxkxzMc,jdbcType=VARCHAR},
      </if>
      <if test="tzAppSText != null" >
        #{tzAppSText,jdbcType=VARCHAR},
      </if>
      <if test="tzKxxQtz != null" >
        #{tzKxxQtz,jdbcType=VARCHAR},
      </if>
      <if test="tzIsChecked != null" >
        #{tzIsChecked,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppDhccT" >
    update PS_TZ_APP_DHCC_T
    <set >
      <if test="tzAppSText != null" >
        TZ_APP_S_TEXT = #{tzAppSText,jdbcType=VARCHAR},
      </if>
      <if test="tzKxxQtz != null" >
        TZ_KXX_QTZ = #{tzKxxQtz,jdbcType=VARCHAR},
      </if>
      <if test="tzIsChecked != null" >
        TZ_IS_CHECKED = #{tzIsChecked,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
      and TZ_XXXKXZ_MC = #{tzXxxkxzMc,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZWebsiteApplicationBundle.model.PsTzAppDhccT" >
    update PS_TZ_APP_DHCC_T
    set TZ_APP_S_TEXT = #{tzAppSText,jdbcType=VARCHAR},
      TZ_KXX_QTZ = #{tzKxxQtz,jdbcType=VARCHAR},
      TZ_IS_CHECKED = #{tzIsChecked,jdbcType=VARCHAR}
    where TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
      and TZ_XXXKXZ_MC = #{tzXxxkxzMc,jdbcType=VARCHAR}
  </update>
</mapper>