<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZMaterialInterviewReviewBundle.dao.PsTzCpfbBzhTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZMaterialInterviewReviewBundle.model.PsTzCpfbBzhTbl" >
    <id column="TZ_CLASS_ID" property="tzClassId" jdbcType="VARCHAR" />
    <id column="TZ_APPLY_PC_ID" property="tzApplyPcId" jdbcType="VARCHAR" />
    <id column="TZ_SCORE_MODAL_ID" property="tzScoreModalId" jdbcType="VARCHAR" />
    <id column="TZ_SCORE_ITEM_ID" property="tzScoreItemId" jdbcType="VARCHAR" />
    <id column="TZ_M_FBDZ_MX_ID" property="tzMFbdzMxId" jdbcType="VARCHAR" />
    <id column="TZ_M_FBDZ_ID" property="tzMFbdzId" jdbcType="VARCHAR" />
    <result column="TZ_BZFB_BL" property="tzBzfbBl" jdbcType="DECIMAL" />
    <result column="TZ_BZFB_NUM" property="tzBzfbNum" jdbcType="DECIMAL" />
    <result column="TZ_YXWC_NUM" property="tzYxwcNum" jdbcType="DECIMAL" />
    <result column="TZ_FBBZ_ZT" property="tzFbbzZt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_CLASS_ID, TZ_APPLY_PC_ID, TZ_SCORE_MODAL_ID, TZ_SCORE_ITEM_ID, TZ_M_FBDZ_MX_ID, 
    TZ_M_FBDZ_ID, TZ_BZFB_BL, TZ_BZFB_NUM, TZ_YXWC_NUM, TZ_FBBZ_ZT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZMaterialInterviewReviewBundle.model.PsTzCpfbBzhTblKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_CPFB_BZH_TBL
    where TZ_CLASS_ID = #{tzClassId,jdbcType=VARCHAR}
      and TZ_APPLY_PC_ID = #{tzApplyPcId,jdbcType=VARCHAR}
      and TZ_SCORE_MODAL_ID = #{tzScoreModalId,jdbcType=VARCHAR}
      and TZ_SCORE_ITEM_ID = #{tzScoreItemId,jdbcType=VARCHAR}
      and TZ_M_FBDZ_MX_ID = #{tzMFbdzMxId,jdbcType=VARCHAR}
      and TZ_M_FBDZ_ID = #{tzMFbdzId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZMaterialInterviewReviewBundle.model.PsTzCpfbBzhTblKey" >
    delete from PS_TZ_CPFB_BZH_TBL
    where TZ_CLASS_ID = #{tzClassId,jdbcType=VARCHAR}
      and TZ_APPLY_PC_ID = #{tzApplyPcId,jdbcType=VARCHAR}
      and TZ_SCORE_MODAL_ID = #{tzScoreModalId,jdbcType=VARCHAR}
      and TZ_SCORE_ITEM_ID = #{tzScoreItemId,jdbcType=VARCHAR}
      and TZ_M_FBDZ_MX_ID = #{tzMFbdzMxId,jdbcType=VARCHAR}
      and TZ_M_FBDZ_ID = #{tzMFbdzId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZMaterialInterviewReviewBundle.model.PsTzCpfbBzhTbl" >
    insert into PS_TZ_CPFB_BZH_TBL (TZ_CLASS_ID, TZ_APPLY_PC_ID, TZ_SCORE_MODAL_ID, 
      TZ_SCORE_ITEM_ID, TZ_M_FBDZ_MX_ID, TZ_M_FBDZ_ID, 
      TZ_BZFB_BL, TZ_BZFB_NUM, TZ_YXWC_NUM, 
      TZ_FBBZ_ZT)
    values (#{tzClassId,jdbcType=VARCHAR}, #{tzApplyPcId,jdbcType=VARCHAR}, #{tzScoreModalId,jdbcType=VARCHAR}, 
      #{tzScoreItemId,jdbcType=VARCHAR}, #{tzMFbdzMxId,jdbcType=VARCHAR}, #{tzMFbdzId,jdbcType=VARCHAR}, 
      #{tzBzfbBl,jdbcType=DECIMAL}, #{tzBzfbNum,jdbcType=DECIMAL}, #{tzYxwcNum,jdbcType=DECIMAL}, 
      #{tzFbbzZt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZMaterialInterviewReviewBundle.model.PsTzCpfbBzhTbl" >
    insert into PS_TZ_CPFB_BZH_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzClassId != null" >
        TZ_CLASS_ID,
      </if>
      <if test="tzApplyPcId != null" >
        TZ_APPLY_PC_ID,
      </if>
      <if test="tzScoreModalId != null" >
        TZ_SCORE_MODAL_ID,
      </if>
      <if test="tzScoreItemId != null" >
        TZ_SCORE_ITEM_ID,
      </if>
      <if test="tzMFbdzMxId != null" >
        TZ_M_FBDZ_MX_ID,
      </if>
      <if test="tzMFbdzId != null" >
        TZ_M_FBDZ_ID,
      </if>
      <if test="tzBzfbBl != null" >
        TZ_BZFB_BL,
      </if>
      <if test="tzBzfbNum != null" >
        TZ_BZFB_NUM,
      </if>
      <if test="tzYxwcNum != null" >
        TZ_YXWC_NUM,
      </if>
      <if test="tzFbbzZt != null" >
        TZ_FBBZ_ZT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzClassId != null" >
        #{tzClassId,jdbcType=VARCHAR},
      </if>
      <if test="tzApplyPcId != null" >
        #{tzApplyPcId,jdbcType=VARCHAR},
      </if>
      <if test="tzScoreModalId != null" >
        #{tzScoreModalId,jdbcType=VARCHAR},
      </if>
      <if test="tzScoreItemId != null" >
        #{tzScoreItemId,jdbcType=VARCHAR},
      </if>
      <if test="tzMFbdzMxId != null" >
        #{tzMFbdzMxId,jdbcType=VARCHAR},
      </if>
      <if test="tzMFbdzId != null" >
        #{tzMFbdzId,jdbcType=VARCHAR},
      </if>
      <if test="tzBzfbBl != null" >
        #{tzBzfbBl,jdbcType=DECIMAL},
      </if>
      <if test="tzBzfbNum != null" >
        #{tzBzfbNum,jdbcType=DECIMAL},
      </if>
      <if test="tzYxwcNum != null" >
        #{tzYxwcNum,jdbcType=DECIMAL},
      </if>
      <if test="tzFbbzZt != null" >
        #{tzFbbzZt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZMaterialInterviewReviewBundle.model.PsTzCpfbBzhTbl" >
    update PS_TZ_CPFB_BZH_TBL
    <set >
      <if test="tzBzfbBl != null" >
        TZ_BZFB_BL = #{tzBzfbBl,jdbcType=DECIMAL},
      </if>
      <if test="tzBzfbNum != null" >
        TZ_BZFB_NUM = #{tzBzfbNum,jdbcType=DECIMAL},
      </if>
      <if test="tzYxwcNum != null" >
        TZ_YXWC_NUM = #{tzYxwcNum,jdbcType=DECIMAL},
      </if>
      <if test="tzFbbzZt != null" >
        TZ_FBBZ_ZT = #{tzFbbzZt,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_CLASS_ID = #{tzClassId,jdbcType=VARCHAR}
      and TZ_APPLY_PC_ID = #{tzApplyPcId,jdbcType=VARCHAR}
      and TZ_SCORE_MODAL_ID = #{tzScoreModalId,jdbcType=VARCHAR}
      and TZ_SCORE_ITEM_ID = #{tzScoreItemId,jdbcType=VARCHAR}
      and TZ_M_FBDZ_MX_ID = #{tzMFbdzMxId,jdbcType=VARCHAR}
      and TZ_M_FBDZ_ID = #{tzMFbdzId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZMaterialInterviewReviewBundle.model.PsTzCpfbBzhTbl" >
    update PS_TZ_CPFB_BZH_TBL
    set TZ_BZFB_BL = #{tzBzfbBl,jdbcType=DECIMAL},
      TZ_BZFB_NUM = #{tzBzfbNum,jdbcType=DECIMAL},
      TZ_YXWC_NUM = #{tzYxwcNum,jdbcType=DECIMAL},
      TZ_FBBZ_ZT = #{tzFbbzZt,jdbcType=VARCHAR}
    where TZ_CLASS_ID = #{tzClassId,jdbcType=VARCHAR}
      and TZ_APPLY_PC_ID = #{tzApplyPcId,jdbcType=VARCHAR}
      and TZ_SCORE_MODAL_ID = #{tzScoreModalId,jdbcType=VARCHAR}
      and TZ_SCORE_ITEM_ID = #{tzScoreItemId,jdbcType=VARCHAR}
      and TZ_M_FBDZ_MX_ID = #{tzMFbdzMxId,jdbcType=VARCHAR}
      and TZ_M_FBDZ_ID = #{tzMFbdzId,jdbcType=VARCHAR}
  </update>
</mapper>