<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZSchlrBundle.dao.PsTzSchlrTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZSchlrBundle.model.PsTzSchlrTbl" >
    <id column="TZ_SCHLR_ID" property="tzSchlrId" jdbcType="VARCHAR" />
    <result column="TZ_SCHLR_NAME" property="tzSchlrName" jdbcType="VARCHAR" />
    <result column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <result column="TZ_STATE" property="tzState" jdbcType="VARCHAR" />
    <result column="TZ_DC_WJ_ID" property="tzDcWjId" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_SCHLR_ID, TZ_SCHLR_NAME, TZ_JG_ID, TZ_STATE, TZ_DC_WJ_ID, ROW_ADDED_DTTM, ROW_ADDED_OPRID, 
    ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_SCHLR_TBL
    where TZ_SCHLR_ID = #{tzSchlrId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_SCHLR_TBL
    where TZ_SCHLR_ID = #{tzSchlrId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZSchlrBundle.model.PsTzSchlrTbl" >
    insert into PS_TZ_SCHLR_TBL (TZ_SCHLR_ID, TZ_SCHLR_NAME, TZ_JG_ID, 
      TZ_STATE, TZ_DC_WJ_ID, ROW_ADDED_DTTM, 
      ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID
      )
    values (#{tzSchlrId,jdbcType=VARCHAR}, #{tzSchlrName,jdbcType=VARCHAR}, #{tzJgId,jdbcType=VARCHAR}, 
      #{tzState,jdbcType=VARCHAR}, #{tzDcWjId,jdbcType=VARCHAR}, #{rowAddedDttm,jdbcType=TIMESTAMP}, 
      #{rowAddedOprid,jdbcType=VARCHAR}, #{rowLastmantDttm,jdbcType=TIMESTAMP}, #{rowLastmantOprid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZSchlrBundle.model.PsTzSchlrTbl" >
    insert into PS_TZ_SCHLR_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzSchlrId != null" >
        TZ_SCHLR_ID,
      </if>
      <if test="tzSchlrName != null" >
        TZ_SCHLR_NAME,
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzState != null" >
        TZ_STATE,
      </if>
      <if test="tzDcWjId != null" >
        TZ_DC_WJ_ID,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzSchlrId != null" >
        #{tzSchlrId,jdbcType=VARCHAR},
      </if>
      <if test="tzSchlrName != null" >
        #{tzSchlrName,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzState != null" >
        #{tzState,jdbcType=VARCHAR},
      </if>
      <if test="tzDcWjId != null" >
        #{tzDcWjId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZSchlrBundle.model.PsTzSchlrTbl" >
    update PS_TZ_SCHLR_TBL
    <set >
      <if test="tzSchlrName != null" >
        TZ_SCHLR_NAME = #{tzSchlrName,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzState != null" >
        TZ_STATE = #{tzState,jdbcType=VARCHAR},
      </if>
      <if test="tzDcWjId != null" >
        TZ_DC_WJ_ID = #{tzDcWjId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_SCHLR_ID = #{tzSchlrId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZSchlrBundle.model.PsTzSchlrTbl" >
    update PS_TZ_SCHLR_TBL
    set TZ_SCHLR_NAME = #{tzSchlrName,jdbcType=VARCHAR},
      TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      TZ_STATE = #{tzState,jdbcType=VARCHAR},
      TZ_DC_WJ_ID = #{tzDcWjId,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR}
    where TZ_SCHLR_ID = #{tzSchlrId,jdbcType=VARCHAR}
  </update>
</mapper>