/target
/target/*
/src/main/webapp/statics/js/tmp
/src/main/webapp/statics/js/tmp/*
/src/main/resources/conf/jdbc.properties
/src/main/resources/conf/cookieSession.properties
/src/main/resources/conf/log4j.properties
/src/main/webapp/statics/js/lib/ueditor/jsp/config.json
/src/main/webapp/WEB-INF/logs/*.log
/src/main/webapp/WEB-INF/classes/com/baidu/ueditor/config.json
