<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZNegativeListInfeBundle.dao.PsTzCsKsFmTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZNegativeListInfeBundle.model.PsTzCsKsFmT" >
    <id column="TZ_CLASS_ID" property="tzClassId" jdbcType="VARCHAR" />
    <id column="TZ_APPLY_PC_ID" property="tzApplyPcId" jdbcType="VARCHAR" />
    <id column="TZ_APP_INS_ID" property="tzAppInsId" jdbcType="BIGINT" />
    <id column="TZ_FMQD_ID" property="tzFmqdId" jdbcType="VARCHAR" />
    <id column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <result column="TZ_FMQD_NAME" property="tzFmqdName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_CLASS_ID, TZ_APPLY_PC_ID, TZ_APP_INS_ID, TZ_FMQD_ID, TZ_JG_ID, TZ_FMQD_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZNegativeListInfeBundle.model.PsTzCsKsFmTKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_CS_KSFM_T
    where TZ_CLASS_ID = #{tzClassId,jdbcType=VARCHAR}
      and TZ_APPLY_PC_ID = #{tzApplyPcId,jdbcType=VARCHAR}
      and TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_FMQD_ID = #{tzFmqdId,jdbcType=VARCHAR}
      and TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZNegativeListInfeBundle.model.PsTzCsKsFmTKey" >
    delete from PS_TZ_CS_KSFM_T
    where TZ_CLASS_ID = #{tzClassId,jdbcType=VARCHAR}
      and TZ_APPLY_PC_ID = #{tzApplyPcId,jdbcType=VARCHAR}
      and TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_FMQD_ID = #{tzFmqdId,jdbcType=VARCHAR}
      and TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZNegativeListInfeBundle.model.PsTzCsKsFmT" >
    insert into PS_TZ_CS_KSFM_T (TZ_CLASS_ID, TZ_APPLY_PC_ID, TZ_APP_INS_ID, 
      TZ_FMQD_ID, TZ_JG_ID, TZ_FMQD_NAME
      )
    values (#{tzClassId,jdbcType=VARCHAR}, #{tzApplyPcId,jdbcType=VARCHAR}, #{tzAppInsId,jdbcType=BIGINT}, 
      #{tzFmqdId,jdbcType=VARCHAR}, #{tzJgId,jdbcType=VARCHAR}, #{tzFmqdName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZNegativeListInfeBundle.model.PsTzCsKsFmT" >
    insert into PS_TZ_CS_KSFM_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzClassId != null" >
        TZ_CLASS_ID,
      </if>
      <if test="tzApplyPcId != null" >
        TZ_APPLY_PC_ID,
      </if>
      <if test="tzAppInsId != null" >
        TZ_APP_INS_ID,
      </if>
      <if test="tzFmqdId != null" >
        TZ_FMQD_ID,
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzFmqdName != null" >
        TZ_FMQD_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzClassId != null" >
        #{tzClassId,jdbcType=VARCHAR},
      </if>
      <if test="tzApplyPcId != null" >
        #{tzApplyPcId,jdbcType=VARCHAR},
      </if>
      <if test="tzAppInsId != null" >
        #{tzAppInsId,jdbcType=BIGINT},
      </if>
      <if test="tzFmqdId != null" >
        #{tzFmqdId,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzFmqdName != null" >
        #{tzFmqdName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZNegativeListInfeBundle.model.PsTzCsKsFmT" >
    update PS_TZ_CS_KSFM_T
    <set >
      <if test="tzFmqdName != null" >
        TZ_FMQD_NAME = #{tzFmqdName,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_CLASS_ID = #{tzClassId,jdbcType=VARCHAR}
      and TZ_APPLY_PC_ID = #{tzApplyPcId,jdbcType=VARCHAR}
      and TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_FMQD_ID = #{tzFmqdId,jdbcType=VARCHAR}
      and TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZNegativeListInfeBundle.model.PsTzCsKsFmT" >
    update PS_TZ_CS_KSFM_T
    set TZ_FMQD_NAME = #{tzFmqdName,jdbcType=VARCHAR}
    where TZ_CLASS_ID = #{tzClassId,jdbcType=VARCHAR}
      and TZ_APPLY_PC_ID = #{tzApplyPcId,jdbcType=VARCHAR}
      and TZ_APP_INS_ID = #{tzAppInsId,jdbcType=BIGINT}
      and TZ_FMQD_ID = #{tzFmqdId,jdbcType=VARCHAR}
      and TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
  </update>
</mapper>