<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZAutomaticScreenBundle.dao.PsTzCsJcAetMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZAutomaticScreenBundle.model.PsTzCsJcAet" >
    <id column="RUN_ID" property="runId" jdbcType="VARCHAR" />
    <result column="TZ_CLASS_ID" property="tzClassId" jdbcType="VARCHAR" />
    <result column="TZ_APPLY_PC_ID" property="tzApplyPcId" jdbcType="VARCHAR" />
    <result column="OPRID" property="oprid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RUN_ID, TZ_CLASS_ID, TZ_APPLY_PC_ID, OPRID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_CS_JC_AET
    where RUN_ID = #{runId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_CS_JC_AET
    where RUN_ID = #{runId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZAutomaticScreenBundle.model.PsTzCsJcAet" >
    insert into PS_TZ_CS_JC_AET (RUN_ID, TZ_CLASS_ID, TZ_APPLY_PC_ID, 
      OPRID)
    values (#{runId,jdbcType=VARCHAR}, #{tzClassId,jdbcType=VARCHAR}, #{tzApplyPcId,jdbcType=VARCHAR}, 
      #{oprid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZAutomaticScreenBundle.model.PsTzCsJcAet" >
    insert into PS_TZ_CS_JC_AET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="runId != null" >
        RUN_ID,
      </if>
      <if test="tzClassId != null" >
        TZ_CLASS_ID,
      </if>
      <if test="tzApplyPcId != null" >
        TZ_APPLY_PC_ID,
      </if>
      <if test="oprid != null" >
        OPRID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="runId != null" >
        #{runId,jdbcType=VARCHAR},
      </if>
      <if test="tzClassId != null" >
        #{tzClassId,jdbcType=VARCHAR},
      </if>
      <if test="tzApplyPcId != null" >
        #{tzApplyPcId,jdbcType=VARCHAR},
      </if>
      <if test="oprid != null" >
        #{oprid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZAutomaticScreenBundle.model.PsTzCsJcAet" >
    update PS_TZ_CS_JC_AET
    <set >
      <if test="tzClassId != null" >
        TZ_CLASS_ID = #{tzClassId,jdbcType=VARCHAR},
      </if>
      <if test="tzApplyPcId != null" >
        TZ_APPLY_PC_ID = #{tzApplyPcId,jdbcType=VARCHAR},
      </if>
      <if test="oprid != null" >
        OPRID = #{oprid,jdbcType=VARCHAR},
      </if>
    </set>
    where RUN_ID = #{runId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZAutomaticScreenBundle.model.PsTzCsJcAet" >
    update PS_TZ_CS_JC_AET
    set TZ_CLASS_ID = #{tzClassId,jdbcType=VARCHAR},
      TZ_APPLY_PC_ID = #{tzApplyPcId,jdbcType=VARCHAR},
      OPRID = #{oprid,jdbcType=VARCHAR}
    where RUN_ID = #{runId,jdbcType=VARCHAR}
  </update>
</mapper>