/* 
	STYLE SHEET FOR IHWY JQUERY LISTNAV PLUGIN V 2.0, 3/2/2009
	For more information, visit http://www.ihwy.com/Labs/jquery-listnav-plugin.aspx
*/
/* default styling example
----------------------------------------------------------------- */

.listNav {
	margin: 0 0 10px;
	overflow: hidden;
	position: fixed;
	right: 0px;
	top: 85px;
}
.ln-letters {
	overflow: hidden;
}
.ln-letters a {
	font-size: 12px;
	display: block;
	padding: 0px 2px;
	width: 20px;
	text-decoration: none;
	text-align: center;
	height: auto;
}
.ln-letters a:hover, .ln-letters a.ln-selected {
	background-color: #eaeaea;
}
.ln-letters a.ln-disabled {
	color: #ccc;
}
.ln-letter-count {
	text-align: center;
	font-size: 0.8em;
	line-height: 1;
	margin-bottom: 3px;
	color: #336699;
}
