<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZScoreModeManagementBundle.dao.PsTzRsModalTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZScoreModeManagementBundle.model.PsTzRsModalTbl" >
    <id column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <id column="TZ_SCORE_MODAL_ID" property="tzScoreModalId" jdbcType="VARCHAR" />
    <result column="TZ_MODAL_NAME" property="tzModalName" jdbcType="VARCHAR" />
    <result column="TREE_NAME" property="treeName" jdbcType="VARCHAR" />
    <result column="TZ_MODAL_FLAG" property="tzModalFlag" jdbcType="VARCHAR" />
    <result column="TZ_M_FBDZ_ID" property="tzMFbdzId" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
    <result column="SYNCID" property="syncid" jdbcType="INTEGER" />
    <result column="SYNCDTTM" property="syncdttm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_JG_ID, TZ_SCORE_MODAL_ID, TZ_MODAL_NAME, TREE_NAME, TZ_MODAL_FLAG, TZ_M_FBDZ_ID, 
    ROW_ADDED_DTTM, ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, SYNCID, SYNCDTTM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZScoreModeManagementBundle.model.PsTzRsModalTblKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_RS_MODAL_TBL
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_SCORE_MODAL_ID = #{tzScoreModalId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZScoreModeManagementBundle.model.PsTzRsModalTblKey" >
    delete from PS_TZ_RS_MODAL_TBL
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_SCORE_MODAL_ID = #{tzScoreModalId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZScoreModeManagementBundle.model.PsTzRsModalTbl" >
    insert into PS_TZ_RS_MODAL_TBL (TZ_JG_ID, TZ_SCORE_MODAL_ID, TZ_MODAL_NAME, 
      TREE_NAME, TZ_MODAL_FLAG, TZ_M_FBDZ_ID, 
      ROW_ADDED_DTTM, ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, 
      ROW_LASTMANT_OPRID, SYNCID, SYNCDTTM
      )
    values (#{tzJgId,jdbcType=VARCHAR}, #{tzScoreModalId,jdbcType=VARCHAR}, #{tzModalName,jdbcType=VARCHAR}, 
      #{treeName,jdbcType=VARCHAR}, #{tzModalFlag,jdbcType=VARCHAR}, #{tzMFbdzId,jdbcType=VARCHAR}, 
      #{rowAddedDttm,jdbcType=TIMESTAMP}, #{rowAddedOprid,jdbcType=VARCHAR}, #{rowLastmantDttm,jdbcType=TIMESTAMP}, 
      #{rowLastmantOprid,jdbcType=VARCHAR}, #{syncid,jdbcType=INTEGER}, #{syncdttm,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZScoreModeManagementBundle.model.PsTzRsModalTbl" >
    insert into PS_TZ_RS_MODAL_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzScoreModalId != null" >
        TZ_SCORE_MODAL_ID,
      </if>
      <if test="tzModalName != null" >
        TZ_MODAL_NAME,
      </if>
      <if test="treeName != null" >
        TREE_NAME,
      </if>
      <if test="tzModalFlag != null" >
        TZ_MODAL_FLAG,
      </if>
      <if test="tzMFbdzId != null" >
        TZ_M_FBDZ_ID,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
      <if test="syncid != null" >
        SYNCID,
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzScoreModalId != null" >
        #{tzScoreModalId,jdbcType=VARCHAR},
      </if>
      <if test="tzModalName != null" >
        #{tzModalName,jdbcType=VARCHAR},
      </if>
      <if test="treeName != null" >
        #{treeName,jdbcType=VARCHAR},
      </if>
      <if test="tzModalFlag != null" >
        #{tzModalFlag,jdbcType=VARCHAR},
      </if>
      <if test="tzMFbdzId != null" >
        #{tzMFbdzId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        #{syncdttm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZScoreModeManagementBundle.model.PsTzRsModalTbl" >
    update PS_TZ_RS_MODAL_TBL
    <set >
      <if test="tzModalName != null" >
        TZ_MODAL_NAME = #{tzModalName,jdbcType=VARCHAR},
      </if>
      <if test="treeName != null" >
        TREE_NAME = #{treeName,jdbcType=VARCHAR},
      </if>
      <if test="tzModalFlag != null" >
        TZ_MODAL_FLAG = #{tzModalFlag,jdbcType=VARCHAR},
      </if>
      <if test="tzMFbdzId != null" >
        TZ_M_FBDZ_ID = #{tzMFbdzId,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        SYNCID = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_SCORE_MODAL_ID = #{tzScoreModalId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZScoreModeManagementBundle.model.PsTzRsModalTbl" >
    update PS_TZ_RS_MODAL_TBL
    set TZ_MODAL_NAME = #{tzModalName,jdbcType=VARCHAR},
      TREE_NAME = #{treeName,jdbcType=VARCHAR},
      TZ_MODAL_FLAG = #{tzModalFlag,jdbcType=VARCHAR},
      TZ_M_FBDZ_ID = #{tzMFbdzId,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP}
    where TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR}
      and TZ_SCORE_MODAL_ID = #{tzScoreModalId,jdbcType=VARCHAR}
  </update>
</mapper>