<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZWeChatUserBundle.dao.PsTzWxUserAetMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZWeChatUserBundle.model.PsTzWxUserAet" >
    <id column="RUN_CNTL_ID" property="runCntlId" jdbcType="VARCHAR" />
    <result column="TZ_JG_ID" property="tzJgId" jdbcType="VARCHAR" />
    <result column="TZ_WX_APPID" property="tzWxAppid" jdbcType="VARCHAR" />
    <result column="OPRID" property="oprid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RUN_CNTL_ID, TZ_JG_ID, TZ_WX_APPID, OPRID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_WX_USER_AET
    where RUN_CNTL_ID = #{runCntlId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_WX_USER_AET
    where RUN_CNTL_ID = #{runCntlId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZWeChatUserBundle.model.PsTzWxUserAet" >
    insert into PS_TZ_WX_USER_AET (RUN_CNTL_ID, TZ_JG_ID, TZ_WX_APPID, 
      OPRID)
    values (#{runCntlId,jdbcType=VARCHAR}, #{tzJgId,jdbcType=VARCHAR}, #{tzWxAppid,jdbcType=VARCHAR}, 
      #{oprid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZWeChatUserBundle.model.PsTzWxUserAet" >
    insert into PS_TZ_WX_USER_AET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="runCntlId != null" >
        RUN_CNTL_ID,
      </if>
      <if test="tzJgId != null" >
        TZ_JG_ID,
      </if>
      <if test="tzWxAppid != null" >
        TZ_WX_APPID,
      </if>
      <if test="oprid != null" >
        OPRID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="runCntlId != null" >
        #{runCntlId,jdbcType=VARCHAR},
      </if>
      <if test="tzJgId != null" >
        #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzWxAppid != null" >
        #{tzWxAppid,jdbcType=VARCHAR},
      </if>
      <if test="oprid != null" >
        #{oprid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZWeChatUserBundle.model.PsTzWxUserAet" >
    update PS_TZ_WX_USER_AET
    <set >
      <if test="tzJgId != null" >
        TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      </if>
      <if test="tzWxAppid != null" >
        TZ_WX_APPID = #{tzWxAppid,jdbcType=VARCHAR},
      </if>
      <if test="oprid != null" >
        OPRID = #{oprid,jdbcType=VARCHAR},
      </if>
    </set>
    where RUN_CNTL_ID = #{runCntlId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZWeChatUserBundle.model.PsTzWxUserAet" >
    update PS_TZ_WX_USER_AET
    set TZ_JG_ID = #{tzJgId,jdbcType=VARCHAR},
      TZ_WX_APPID = #{tzWxAppid,jdbcType=VARCHAR},
      OPRID = #{oprid,jdbcType=VARCHAR}
    where RUN_CNTL_ID = #{runCntlId,jdbcType=VARCHAR}
  </update>
</mapper>