<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZApplicationSurveyBundle.dao.PsTzDcwjBgkxzTMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZApplicationSurveyBundle.model.PsTzDcwjBgkxzT" >
    <id column="TZ_DC_WJ_ID" property="tzDcWjId" jdbcType="VARCHAR" />
    <id column="TZ_XXX_BH" property="tzXxxBh" jdbcType="VARCHAR" />
    <id column="TZ_OPT_CODE" property="tzOptCode" jdbcType="VARCHAR" />
    <result column="TZ_ORDER" property="tzOrder" jdbcType="INTEGER" />
    <result column="TZ_OPT_NAME" property="tzOptName" jdbcType="VARCHAR" />
    <result column="TZ_WEIGHT" property="tzWeight" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_DC_WJ_ID, TZ_XXX_BH, TZ_OPT_CODE, TZ_ORDER, TZ_OPT_NAME, TZ_WEIGHT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZApplicationSurveyBundle.model.PsTzDcwjBgkxzTKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_DCWJ_BGKXZ_T
    where TZ_DC_WJ_ID = #{tzDcWjId,jdbcType=VARCHAR}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
      and TZ_OPT_CODE = #{tzOptCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZApplicationSurveyBundle.model.PsTzDcwjBgkxzTKey" >
    delete from PS_TZ_DCWJ_BGKXZ_T
    where TZ_DC_WJ_ID = #{tzDcWjId,jdbcType=VARCHAR}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
      and TZ_OPT_CODE = #{tzOptCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZApplicationSurveyBundle.model.PsTzDcwjBgkxzT" >
    insert into PS_TZ_DCWJ_BGKXZ_T (TZ_DC_WJ_ID, TZ_XXX_BH, TZ_OPT_CODE, 
      TZ_ORDER, TZ_OPT_NAME, TZ_WEIGHT
      )
    values (#{tzDcWjId,jdbcType=VARCHAR}, #{tzXxxBh,jdbcType=VARCHAR}, #{tzOptCode,jdbcType=VARCHAR}, 
      #{tzOrder,jdbcType=INTEGER}, #{tzOptName,jdbcType=VARCHAR}, #{tzWeight,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZApplicationSurveyBundle.model.PsTzDcwjBgkxzT" >
    insert into PS_TZ_DCWJ_BGKXZ_T
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzDcWjId != null" >
        TZ_DC_WJ_ID,
      </if>
      <if test="tzXxxBh != null" >
        TZ_XXX_BH,
      </if>
      <if test="tzOptCode != null" >
        TZ_OPT_CODE,
      </if>
      <if test="tzOrder != null" >
        TZ_ORDER,
      </if>
      <if test="tzOptName != null" >
        TZ_OPT_NAME,
      </if>
      <if test="tzWeight != null" >
        TZ_WEIGHT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzDcWjId != null" >
        #{tzDcWjId,jdbcType=VARCHAR},
      </if>
      <if test="tzXxxBh != null" >
        #{tzXxxBh,jdbcType=VARCHAR},
      </if>
      <if test="tzOptCode != null" >
        #{tzOptCode,jdbcType=VARCHAR},
      </if>
      <if test="tzOrder != null" >
        #{tzOrder,jdbcType=INTEGER},
      </if>
      <if test="tzOptName != null" >
        #{tzOptName,jdbcType=VARCHAR},
      </if>
      <if test="tzWeight != null" >
        #{tzWeight,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZApplicationSurveyBundle.model.PsTzDcwjBgkxzT" >
    update PS_TZ_DCWJ_BGKXZ_T
    <set >
      <if test="tzOrder != null" >
        TZ_ORDER = #{tzOrder,jdbcType=INTEGER},
      </if>
      <if test="tzOptName != null" >
        TZ_OPT_NAME = #{tzOptName,jdbcType=VARCHAR},
      </if>
      <if test="tzWeight != null" >
        TZ_WEIGHT = #{tzWeight,jdbcType=VARCHAR},
      </if>
    </set>
    where TZ_DC_WJ_ID = #{tzDcWjId,jdbcType=VARCHAR}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
      and TZ_OPT_CODE = #{tzOptCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZApplicationSurveyBundle.model.PsTzDcwjBgkxzT" >
    update PS_TZ_DCWJ_BGKXZ_T
    set TZ_ORDER = #{tzOrder,jdbcType=INTEGER},
      TZ_OPT_NAME = #{tzOptName,jdbcType=VARCHAR},
      TZ_WEIGHT = #{tzWeight,jdbcType=VARCHAR}
    where TZ_DC_WJ_ID = #{tzDcWjId,jdbcType=VARCHAR}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
      and TZ_OPT_CODE = #{tzOptCode,jdbcType=VARCHAR}
  </update>
</mapper>