<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZMyEnrollmentClueBundle.dao.PsTzXsQtzrrTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZMyEnrollmentClueBundle.model.PsTzXsQtzrrTblKey" >
    <id column="TZ_LEAD_ID" property="tzLeadId" jdbcType="VARCHAR" />
    <id column="TZ_ZRR_OPRID" property="tzZrrOprid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZMyEnrollmentClueBundle.model.PsTzXsQtzrrTblKey" >
    delete from PS_TZ_XS_QTZRR_TBL
    where TZ_LEAD_ID = #{tzLeadId,jdbcType=VARCHAR}
      and TZ_ZRR_OPRID = #{tzZrrOprid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZMyEnrollmentClueBundle.model.PsTzXsQtzrrTblKey" >
    insert into PS_TZ_XS_QTZRR_TBL (TZ_LEAD_ID, TZ_ZRR_OPRID)
    values (#{tzLeadId,jdbcType=VARCHAR}, #{tzZrrOprid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZMyEnrollmentClueBundle.model.PsTzXsQtzrrTblKey" >
    insert into PS_TZ_XS_QTZRR_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzLeadId != null" >
        TZ_LEAD_ID,
      </if>
      <if test="tzZrrOprid != null" >
        TZ_ZRR_OPRID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzLeadId != null" >
        #{tzLeadId,jdbcType=VARCHAR},
      </if>
      <if test="tzZrrOprid != null" >
        #{tzZrrOprid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>