<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZCanInTsinghuaBundle.dao.PsTzCswjDcxTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZCanInTsinghuaBundle.model.PsTzCswjDcxTbl" >
    <id column="TZ_CS_WJ_ID" property="tzCsWjId" jdbcType="VARCHAR" />
    <id column="TZ_DC_WJ_ID" property="tzDcWjId" jdbcType="VARCHAR" />
    <id column="TZ_XXX_BH" property="tzXxxBh" jdbcType="VARCHAR" />
    <result column="TZ_XXX_MC" property="tzXxxMc" jdbcType="VARCHAR" />
    <result column="TZ_XXX_DESC" property="tzXxxDesc" jdbcType="VARCHAR" />
    <result column="TZ_ORDER" property="tzOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_CS_WJ_ID, TZ_DC_WJ_ID, TZ_XXX_BH, TZ_XXX_MC, TZ_XXX_DESC, TZ_ORDER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tranzvision.gd.TZCanInTsinghuaBundle.model.PsTzCswjDcxTblKey" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_CSWJ_DCX_TBL
    where TZ_CS_WJ_ID = #{tzCsWjId,jdbcType=VARCHAR}
      and TZ_DC_WJ_ID = #{tzDcWjId,jdbcType=VARCHAR}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tranzvision.gd.TZCanInTsinghuaBundle.model.PsTzCswjDcxTblKey" >
    delete from PS_TZ_CSWJ_DCX_TBL
    where TZ_CS_WJ_ID = #{tzCsWjId,jdbcType=VARCHAR}
      and TZ_DC_WJ_ID = #{tzDcWjId,jdbcType=VARCHAR}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZCanInTsinghuaBundle.model.PsTzCswjDcxTbl" >
    insert into PS_TZ_CSWJ_DCX_TBL (TZ_CS_WJ_ID, TZ_DC_WJ_ID, TZ_XXX_BH, 
      TZ_XXX_MC, TZ_XXX_DESC, TZ_ORDER
      )
    values (#{tzCsWjId,jdbcType=VARCHAR}, #{tzDcWjId,jdbcType=VARCHAR}, #{tzXxxBh,jdbcType=VARCHAR}, 
      #{tzXxxMc,jdbcType=VARCHAR}, #{tzXxxDesc,jdbcType=VARCHAR}, #{tzOrder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZCanInTsinghuaBundle.model.PsTzCswjDcxTbl" >
    insert into PS_TZ_CSWJ_DCX_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzCsWjId != null" >
        TZ_CS_WJ_ID,
      </if>
      <if test="tzDcWjId != null" >
        TZ_DC_WJ_ID,
      </if>
      <if test="tzXxxBh != null" >
        TZ_XXX_BH,
      </if>
      <if test="tzXxxMc != null" >
        TZ_XXX_MC,
      </if>
      <if test="tzXxxDesc != null" >
        TZ_XXX_DESC,
      </if>
      <if test="tzOrder != null" >
        TZ_ORDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzCsWjId != null" >
        #{tzCsWjId,jdbcType=VARCHAR},
      </if>
      <if test="tzDcWjId != null" >
        #{tzDcWjId,jdbcType=VARCHAR},
      </if>
      <if test="tzXxxBh != null" >
        #{tzXxxBh,jdbcType=VARCHAR},
      </if>
      <if test="tzXxxMc != null" >
        #{tzXxxMc,jdbcType=VARCHAR},
      </if>
      <if test="tzXxxDesc != null" >
        #{tzXxxDesc,jdbcType=VARCHAR},
      </if>
      <if test="tzOrder != null" >
        #{tzOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZCanInTsinghuaBundle.model.PsTzCswjDcxTbl" >
    update PS_TZ_CSWJ_DCX_TBL
    <set >
      <if test="tzXxxMc != null" >
        TZ_XXX_MC = #{tzXxxMc,jdbcType=VARCHAR},
      </if>
      <if test="tzXxxDesc != null" >
        TZ_XXX_DESC = #{tzXxxDesc,jdbcType=VARCHAR},
      </if>
      <if test="tzOrder != null" >
        TZ_ORDER = #{tzOrder,jdbcType=INTEGER},
      </if>
    </set>
    where TZ_CS_WJ_ID = #{tzCsWjId,jdbcType=VARCHAR}
      and TZ_DC_WJ_ID = #{tzDcWjId,jdbcType=VARCHAR}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZCanInTsinghuaBundle.model.PsTzCswjDcxTbl" >
    update PS_TZ_CSWJ_DCX_TBL
    set TZ_XXX_MC = #{tzXxxMc,jdbcType=VARCHAR},
      TZ_XXX_DESC = #{tzXxxDesc,jdbcType=VARCHAR},
      TZ_ORDER = #{tzOrder,jdbcType=INTEGER}
    where TZ_CS_WJ_ID = #{tzCsWjId,jdbcType=VARCHAR}
      and TZ_DC_WJ_ID = #{tzDcWjId,jdbcType=VARCHAR}
      and TZ_XXX_BH = #{tzXxxBh,jdbcType=VARCHAR}
  </update>
</mapper>