<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZWebSiteInfoMgBundle.dao.PsTzArtRecTblMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtRecTbl" >
    <id column="TZ_ART_ID" property="tzArtId" jdbcType="VARCHAR" />
    <result column="TZ_ART_TITLE" property="tzArtTitle" jdbcType="VARCHAR" />
    <result column="TZ_ART_NAME" property="tzArtName" jdbcType="VARCHAR" />
    <result column="TZ_ART_TYPE1" property="tzArtType1" jdbcType="VARCHAR" />
    <result column="TZ_START_DATE" property="tzStartDate" jdbcType="DATE" />
    <result column="TZ_START_TIME" property="tzStartTime" jdbcType="TIME" />
    <result column="TZ_END_DATE" property="tzEndDate" jdbcType="DATE" />
    <result column="TZ_END_TIME" property="tzEndTime" jdbcType="TIME" />
    <result column="TZ_ATTACHSYSFILENA" property="tzAttachsysfilena" jdbcType="VARCHAR" />
    <result column="TZ_IMAGE_TITLE" property="tzImageTitle" jdbcType="VARCHAR" />
    <result column="TZ_IMAGE_DESC" property="tzImageDesc" jdbcType="VARCHAR" />
    <result column="ROW_ADDED_DTTM" property="rowAddedDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_ADDED_OPRID" property="rowAddedOprid" jdbcType="VARCHAR" />
    <result column="ROW_LASTMANT_DTTM" property="rowLastmantDttm" jdbcType="TIMESTAMP" />
    <result column="ROW_LASTMANT_OPRID" property="rowLastmantOprid" jdbcType="VARCHAR" />
    <result column="SYNCID" property="syncid" jdbcType="INTEGER" />
    <result column="SYNCDTTM" property="syncdttm" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtRecTblWithBLOBs" extends="BaseResultMap" >
    <result column="TZ_ART_TITLE_STYLE" property="tzArtTitleStyle" jdbcType="LONGVARCHAR" />
    <result column="TZ_ART_CONENT" property="tzArtConent" jdbcType="LONGVARCHAR" />
    <result column="TZ_OUT_ART_URL" property="tzOutArtUrl" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_ART_ID, TZ_ART_TITLE, TZ_ART_NAME, TZ_ART_TYPE1, TZ_START_DATE, TZ_START_TIME, 
    TZ_END_DATE, TZ_END_TIME, TZ_ATTACHSYSFILENA, TZ_IMAGE_TITLE, TZ_IMAGE_DESC, ROW_ADDED_DTTM, 
    ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, SYNCID, SYNCDTTM
  </sql>
  <sql id="Blob_Column_List" >
    TZ_ART_TITLE_STYLE, TZ_ART_CONENT, TZ_OUT_ART_URL
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PS_TZ_ART_REC_TBL
    where TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_ART_REC_TBL
    where TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtRecTblWithBLOBs" >
    insert into PS_TZ_ART_REC_TBL (TZ_ART_ID, TZ_ART_TITLE, TZ_ART_NAME, 
      TZ_ART_TYPE1, TZ_START_DATE, TZ_START_TIME, 
      TZ_END_DATE, TZ_END_TIME, TZ_ATTACHSYSFILENA, 
      TZ_IMAGE_TITLE, TZ_IMAGE_DESC, ROW_ADDED_DTTM, 
      ROW_ADDED_OPRID, ROW_LASTMANT_DTTM, ROW_LASTMANT_OPRID, 
      SYNCID, SYNCDTTM, TZ_ART_TITLE_STYLE, 
      TZ_ART_CONENT, TZ_OUT_ART_URL)
    values (#{tzArtId,jdbcType=VARCHAR}, #{tzArtTitle,jdbcType=VARCHAR}, #{tzArtName,jdbcType=VARCHAR}, 
      #{tzArtType1,jdbcType=VARCHAR}, #{tzStartDate,jdbcType=DATE}, #{tzStartTime,jdbcType=TIME}, 
      #{tzEndDate,jdbcType=DATE}, #{tzEndTime,jdbcType=TIME}, #{tzAttachsysfilena,jdbcType=VARCHAR}, 
      #{tzImageTitle,jdbcType=VARCHAR}, #{tzImageDesc,jdbcType=VARCHAR}, #{rowAddedDttm,jdbcType=TIMESTAMP}, 
      #{rowAddedOprid,jdbcType=VARCHAR}, #{rowLastmantDttm,jdbcType=TIMESTAMP}, #{rowLastmantOprid,jdbcType=VARCHAR}, 
      #{syncid,jdbcType=INTEGER}, #{syncdttm,jdbcType=TIMESTAMP}, #{tzArtTitleStyle,jdbcType=LONGVARCHAR}, 
      #{tzArtConent,jdbcType=LONGVARCHAR}, #{tzOutArtUrl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtRecTblWithBLOBs" >
    insert into PS_TZ_ART_REC_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tzArtId != null" >
        TZ_ART_ID,
      </if>
      <if test="tzArtTitle != null" >
        TZ_ART_TITLE,
      </if>
      <if test="tzArtName != null" >
        TZ_ART_NAME,
      </if>
      <if test="tzArtType1 != null" >
        TZ_ART_TYPE1,
      </if>
      <if test="tzStartDate != null" >
        TZ_START_DATE,
      </if>
      <if test="tzStartTime != null" >
        TZ_START_TIME,
      </if>
      <if test="tzEndDate != null" >
        TZ_END_DATE,
      </if>
      <if test="tzEndTime != null" >
        TZ_END_TIME,
      </if>
      <if test="tzAttachsysfilena != null" >
        TZ_ATTACHSYSFILENA,
      </if>
      <if test="tzImageTitle != null" >
        TZ_IMAGE_TITLE,
      </if>
      <if test="tzImageDesc != null" >
        TZ_IMAGE_DESC,
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM,
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID,
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM,
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID,
      </if>
      <if test="syncid != null" >
        SYNCID,
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM,
      </if>
      <if test="tzArtTitleStyle != null" >
        TZ_ART_TITLE_STYLE,
      </if>
      <if test="tzArtConent != null" >
        TZ_ART_CONENT,
      </if>
      <if test="tzOutArtUrl != null" >
        TZ_OUT_ART_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tzArtId != null" >
        #{tzArtId,jdbcType=VARCHAR},
      </if>
      <if test="tzArtTitle != null" >
        #{tzArtTitle,jdbcType=VARCHAR},
      </if>
      <if test="tzArtName != null" >
        #{tzArtName,jdbcType=VARCHAR},
      </if>
      <if test="tzArtType1 != null" >
        #{tzArtType1,jdbcType=VARCHAR},
      </if>
      <if test="tzStartDate != null" >
        #{tzStartDate,jdbcType=DATE},
      </if>
      <if test="tzStartTime != null" >
        #{tzStartTime,jdbcType=TIME},
      </if>
      <if test="tzEndDate != null" >
        #{tzEndDate,jdbcType=DATE},
      </if>
      <if test="tzEndTime != null" >
        #{tzEndTime,jdbcType=TIME},
      </if>
      <if test="tzAttachsysfilena != null" >
        #{tzAttachsysfilena,jdbcType=VARCHAR},
      </if>
      <if test="tzImageTitle != null" >
        #{tzImageTitle,jdbcType=VARCHAR},
      </if>
      <if test="tzImageDesc != null" >
        #{tzImageDesc,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        #{syncdttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzArtTitleStyle != null" >
        #{tzArtTitleStyle,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzArtConent != null" >
        #{tzArtConent,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzOutArtUrl != null" >
        #{tzOutArtUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtRecTblWithBLOBs" >
    update PS_TZ_ART_REC_TBL
    <set >
      <if test="tzArtTitle != null" >
        TZ_ART_TITLE = #{tzArtTitle,jdbcType=VARCHAR},
      </if>
      <if test="tzArtName != null" >
        TZ_ART_NAME = #{tzArtName,jdbcType=VARCHAR},
      </if>
      <if test="tzArtType1 != null" >
        TZ_ART_TYPE1 = #{tzArtType1,jdbcType=VARCHAR},
      </if>
      <if test="tzStartDate != null" >
        TZ_START_DATE = #{tzStartDate,jdbcType=DATE},
      </if>
      <if test="tzStartTime != null" >
        TZ_START_TIME = #{tzStartTime,jdbcType=TIME},
      </if>
      <if test="tzEndDate != null" >
        TZ_END_DATE = #{tzEndDate,jdbcType=DATE},
      </if>
      <if test="tzEndTime != null" >
        TZ_END_TIME = #{tzEndTime,jdbcType=TIME},
      </if>
      <if test="tzAttachsysfilena != null" >
        TZ_ATTACHSYSFILENA = #{tzAttachsysfilena,jdbcType=VARCHAR},
      </if>
      <if test="tzImageTitle != null" >
        TZ_IMAGE_TITLE = #{tzImageTitle,jdbcType=VARCHAR},
      </if>
      <if test="tzImageDesc != null" >
        TZ_IMAGE_DESC = #{tzImageDesc,jdbcType=VARCHAR},
      </if>
      <if test="rowAddedDttm != null" >
        ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowAddedOprid != null" >
        ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      </if>
      <if test="rowLastmantDttm != null" >
        ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="rowLastmantOprid != null" >
        ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null" >
        SYNCID = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="syncdttm != null" >
        SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      </if>
      <if test="tzArtTitleStyle != null" >
        TZ_ART_TITLE_STYLE = #{tzArtTitleStyle,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzArtConent != null" >
        TZ_ART_CONENT = #{tzArtConent,jdbcType=LONGVARCHAR},
      </if>
      <if test="tzOutArtUrl != null" >
        TZ_OUT_ART_URL = #{tzOutArtUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtRecTblWithBLOBs" >
    update PS_TZ_ART_REC_TBL
    set TZ_ART_TITLE = #{tzArtTitle,jdbcType=VARCHAR},
      TZ_ART_NAME = #{tzArtName,jdbcType=VARCHAR},
      TZ_ART_TYPE1 = #{tzArtType1,jdbcType=VARCHAR},
      TZ_START_DATE = #{tzStartDate,jdbcType=DATE},
      TZ_START_TIME = #{tzStartTime,jdbcType=TIME},
      TZ_END_DATE = #{tzEndDate,jdbcType=DATE},
      TZ_END_TIME = #{tzEndTime,jdbcType=TIME},
      TZ_ATTACHSYSFILENA = #{tzAttachsysfilena,jdbcType=VARCHAR},
      TZ_IMAGE_TITLE = #{tzImageTitle,jdbcType=VARCHAR},
      TZ_IMAGE_DESC = #{tzImageDesc,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP},
      TZ_ART_TITLE_STYLE = #{tzArtTitleStyle,jdbcType=LONGVARCHAR},
      TZ_ART_CONENT = #{tzArtConent,jdbcType=LONGVARCHAR},
      TZ_OUT_ART_URL = #{tzOutArtUrl,jdbcType=LONGVARCHAR}
    where TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZWebSiteInfoMgBundle.model.PsTzArtRecTbl" >
    update PS_TZ_ART_REC_TBL
    set TZ_ART_TITLE = #{tzArtTitle,jdbcType=VARCHAR},
      TZ_ART_NAME = #{tzArtName,jdbcType=VARCHAR},
      TZ_ART_TYPE1 = #{tzArtType1,jdbcType=VARCHAR},
      TZ_START_DATE = #{tzStartDate,jdbcType=DATE},
      TZ_START_TIME = #{tzStartTime,jdbcType=TIME},
      TZ_END_DATE = #{tzEndDate,jdbcType=DATE},
      TZ_END_TIME = #{tzEndTime,jdbcType=TIME},
      TZ_ATTACHSYSFILENA = #{tzAttachsysfilena,jdbcType=VARCHAR},
      TZ_IMAGE_TITLE = #{tzImageTitle,jdbcType=VARCHAR},
      TZ_IMAGE_DESC = #{tzImageDesc,jdbcType=VARCHAR},
      ROW_ADDED_DTTM = #{rowAddedDttm,jdbcType=TIMESTAMP},
      ROW_ADDED_OPRID = #{rowAddedOprid,jdbcType=VARCHAR},
      ROW_LASTMANT_DTTM = #{rowLastmantDttm,jdbcType=TIMESTAMP},
      ROW_LASTMANT_OPRID = #{rowLastmantOprid,jdbcType=VARCHAR},
      SYNCID = #{syncid,jdbcType=INTEGER},
      SYNCDTTM = #{syncdttm,jdbcType=TIMESTAMP}
    where TZ_ART_ID = #{tzArtId,jdbcType=VARCHAR}
  </update>
</mapper>