<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tranzvision.gd.TZWeakPasswordBundle.dao.PsTzWeakPasswordMapper" >
  <resultMap id="BaseResultMap" type="com.tranzvision.gd.TZWeakPasswordBundle.model.PsTzWeakPassword" >
    <id column="TZ_PWD_ID" property="tzPwdId" jdbcType="VARCHAR" />
    <result column="TZ_PWD_VAL" property="tzPwdVal" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TZ_PWD_ID, TZ_PWD_VAL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PS_TZ_WEAK_PASSWORD
    where TZ_PWD_ID = #{tzPwdId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.tranzvision.gd.TZWeakPasswordBundle.model.PsTzWeakPassword" >
    insert into PS_TZ_WEAK_PASSWORD (TZ_PWD_ID, TZ_PWD_VAL)
    values (#{tzPwdId,jdbcType=VARCHAR}, #{tzPwdVal,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tranzvision.gd.TZWeakPasswordBundle.model.PsTzWeakPassword" >
    update PS_TZ_WEAK_PASSWORD
    set TZ_PWD_VAL = #{tzPwdVal,jdbcType=VARCHAR}
    where TZ_PWD_ID = #{tzPwdId,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PS_TZ_WEAK_PASSWORD
    where TZ_PWD_ID = #{tzPwdId,jdbcType=VARCHAR}
  </delete>
</mapper>